body{
    background-color: black;
}
h1{
    color: aliceblue;
    font-size: 60px;
    padding: 40px;
    text-align: center;
}
button{
    font-size: 30px;
    border-radius: 10%;
    background-color: bisque;
    color: black;
}
